@media (max-width: 1117px) {
  aside.social {
    border-left: none !important;
    padding: 10px !important;
    position: inherit !important;
    margin-left: 0 !important;
    top: inherit !important;
  }
  aside.social p { display: inline-block; margin-right: 10px; }
  #comments .comment-form input, #comments .comment-form textarea { width: 98% !important; }
}

@media (max-width: 930px) {
  .search-form label { width: 98% !important; }
  .search-form input { width: 98% !important; }
}

@media (max-width: 767px) {
  .wpcf7 input[type="text"], .wpcf7 input[type="search"], .wpcf7 input[type="email"] , .wpcf7 textarea { width: 100%; }
  .search-form label { width: 58% !important; }
  .search-form input { width: 40% !important; }
  .loop-posts .post-meta { margin-bottom: 10px !important; }
  #about-subscribe h2 { padding-right: 0 !important; }
  #content { padding-right: 0 !important; }
  #primary-nav { margin-top: 25px !important; }
  #about-subscribe h2 { text-align: center !important; margin-bottom: 30px !important; }
  .blog-post h3 { font-size: 2em !important; }
  .blog-post .post-meta { float: inherit !important; }
  #sidebar { margin-top: 20px !important; }
  footer #social-icons ul { text-align: center !important; margin: 30px 0 20px !important; }
  #top-header,
  #primary-nav,
  #about-subscribe h2,
  #headline,
  .sidebar-widget,
  .pagination,
  #dynamic-footer,
  footer .copyright {
  	text-align: center !important;
  }
}